// Sample code
.footer {
    padding: rem(90) 0;
    background: #252a33;
    .imgLogo {
        max-width: rem(140);
        margin: auto;
        margin-bottom: rem(20);
        img {
            width: 100%;
        }
    }
    .copyright {
        text-align: center;
        p {
            margin-bottom: 0;
            font-size: rem(18);
            color: #fff;
        }
    }
}
