.nav-menu {
    position: relative;
    z-index: 99;
    width: 100vw;
    margin: 0 auto;
    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
}
.headerPage {
    & > .container-fluid {
        background: #252a33;
        opacity: 1;
    }
    & + main.wrapper {
        padding-top: rem(74);
    }
    .navbar-brand {
        img {
            width: rem(60);
        }
    }
}
.navbar {
    $root: &;
    padding: 0.5rem 0;
    &-brand {
        margin-right: 0;
        margin-left: rem(18);
        font-size: rem(31);
        img {
            width: rem(120);
            transition: 0.4s ease;
            @include media-breakpoint-down(sm) {
                width: rem(56);
            }
        }
    }
    &-light {
        #{$root}-brand {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
        #{$root}-nav {
            .show,
            .active {
                & > .nav-link {
                    color: #fff;
                }
            }
            .nav-link {
                font-size: 16px;
                font-weight: 300;
                color: #fff;
                &:hover,
                &:focus {
                    color: #fff;
                    outline: none;
                }
                span {
                    font-size: rem(18);
                }
                .imgAva {
                    width: rem(30);
                    height: rem(30);
                    margin-right: 7px;
                    border-radius: 50%;
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
        #{$root}-toggler {
            color: #fff;
            border: none;
            outline: 0;
            span {
                font-size: rem(30);
            }
        }
    }
    &-nav {
        @include media-breakpoint-down(lg) {
            padding: rem(7) rem(20);
        }
    }
}
.nav-item {
    margin: 0 rem(20) 0 0;
    &.dropdown {
        .nav-link {
            display: flex;
            align-items: center;
        }
    }
    span {
        margin: 0 0 0 4px;
        font-size: rem(10);
    }
}
.bg {
    width: 100%;
    height: rem(70);
}
.is-sticky {
    background: #252a33;
    opacity: 1;
    .navbar-brand {
        img {
            @include media-breakpoint-up(md) {
                width: rem(75);
            }
        }
    }
}
.transition {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #636363;
    @include media-breakpoint-down(lg) {
        background: #252a33;
        border: none;
    }
}

// Dropdown Menu
.dropdown-menu {
    background: #030303;
}
.dropdown-item {
    color: #aaa;
    transition: 0.3s;
    &:hover {
        color: #fff;
        background: none;
    }
}
