// Sample code
.masthead {
    padding: rem(200) 0;
    text-align: center;
    background-color: #fff;
}
/* Common style */
.gridGallery {
    position: relative;
    padding: 1em 0 4em;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    &_item {
        width: calc(33.33333% - 14px);
        margin-bottom: rem(14);
        @include media-breakpoint-down(md) {
            width: calc(50% - 14px);
        }
        &-vertical {
            figure {
                padding-bottom: 167.58571%;
            }
        }
        &-topBig {
            figure {
                padding-bottom: 363/350 * 100%;
            }
        }
        &-topSmall {
            figure {
                padding-bottom: 192/350 * 100%;
            }
        }
        &-botSmall {
            figure {
                padding-bottom: 59.9%;
            }
        }
        &-botBig {
            figure {
                padding-bottom: 381/350 * 100%;
            }
        }
    }
    &-sizer {
        width: calc(33.33333% - 14px);
        @include media-breakpoint-down(md) {
            width: calc(50% - 14px);
        }
    }
    figure {
        position: relative;
        float: left;
        width: 100%;
        margin: 0;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        background: #3085a3;
        &.effect-ruby {
            background-color: #000;
            img {
                transition: opacity 0.35s, transform 0.35s;
                transform: scale(1.15);
            }
            &:hover img {
                opacity: 0.5;
                transform: scale(1);
            }
            h2 {
                margin-top: 20%;
                transition: transform 0.35s;
                transform: translate3d(0, 20px, 0);
            }
            &:hover h2 {
                transform: translate3d(0, 0, 0);
            }
        }
        img {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0.8;
        }
        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 2em;
            color: #fff;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            @include media-breakpoint-down(md) {
                padding: 0.7em;
            }
            h5 {
                font-weight: 400;
                text-align: left;
                @include media-breakpoint-down(md) {
                    font-size: rem(22);
                }
            }
            &::before,
            &::after {
                pointer-events: none;
            }
            > a {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1000;
                font-size: 0;
                text-indent: 200%;
                white-space: nowrap;
                opacity: 0;
            }
        }
        h5 {
            margin: 0;
            font-weight: 300;
            word-spacing: -0.15em;
            span {
                font-weight: 800;
            }
        }
        p {
            margin: 0;
            margin: 6px 0 0;
            font-weight: 300;
            text-align: left;
            letter-spacing: 1px;
        }
    }
}
.featuredPanel {
    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-right: rem(-10);
        margin-left: rem(-10);
    }
    &_rating {
        position: absolute;
        right: 10px;
        z-index: 10;
        width: 60px;
        height: 60px;
        padding: 14px;
        margin: -33px 10px 0 0;
        font-size: 23px;
        color: #fff;
        text-align: center;
        background: #ff7474;
        border-radius: 50%;
    }
    &_item {
        position: relative;
        width: 100%;
        padding-right: rem(10);
        padding-left: rem(10);
        margin-bottom: rem(30);
        @include media-breakpoint-up(lg) {
            flex: 0 0 33.33333% !important;
            max-width: 33.33333% !important;
        }
        @include media-breakpoint-up(md) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        &-link {
            margin-bottom: 5px;
            overflow: hidden;
            font-size: rem(20);
            font-weight: 700;
            color: #000;
            text-decoration: none !important;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: 0.4s ease;
            &:hover {
                color: #212259;
            }
        }
        &_wrap {
            background-color: #fff;
        }
        &_img {
            overflow: hidden;
            &:hover {
                .img-bg {
                    transform: scale(1.15);
                }
            }
            .img-bg {
                transition: 0.3s ease;
                &::after {
                    padding-top: 254/350 * 100%;
                }
            }
        }
        &_content {
            padding: rem(22) rem(20);
            p,
            span {
                color: #9fa9b9;
            }
            ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                li {
                    margin-bottom: 8px;
                    i.icon {
                        margin-right: 8px;
                    }
                }
            }
            .bottom-icons {
                display: block;
                display: inline-block;
                font-size: 13px;
                font-weight: 700;
                color: #ff3a6d;
                text-transform: uppercase;
                &.close {
                    p {
                        color: #ff3a6d;
                    }
                }
                &.open {
                    p {
                        color: #acd01a;
                    }
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    &_viewMore {
        max-width: rem(248);
        margin-right: auto;
        margin-left: auto;
    }
}
.categoryPanel {
    $root: &;
    &_item {
        display: block;
        padding: 30px;
        margin: 0 0 30px;
        text-align: center;
        text-decoration: none !important;
        border: 1px solid #e5e7ef;
        transition: 0.4s ease;
        &:hover {
            background-color: #ff3a6d;
            #{$root}_item-icon {
                h6 {
                    color: #fff;
                }
                i.icon {
                    &.ic-automotive {
                        background-image: url('../images/icons/automotive-white.svg');
                    }
                    &.ic-beauty {
                        background-image: url('../images/icons/beauty-white.svg');
                    }
                    &.ic-hotel {
                        background-image: url('../images/icons/hotel-white.svg');
                    }
                    &.ic-restaurant {
                        background-image: url('../images/icons/restaurant-white.svg');
                    }
                    &.ic-shopping {
                        background-image: url('../images/icons/shopping-white.svg');
                    }
                    &.ic-cup {
                        background-image: url('../images/icons/coffee-cup-white.svg');
                    }
                    &.ic-beer {
                        background-image: url('../images/icons/beer-white.svg');
                    }
                    &.ic-destination {
                        background-image: url('../images/icons/destination-white.svg');
                    }
                }
            }
        }
        &-icon {
            h6 {
                margin: 10px 0 0;
                font-size: rem(20);
                color: #3e434b;
                transition: 0.4s ease;
            }
            i.icon {
                transition: 0.4s ease;
            }
        }
    }
}
