extends ../layouts/_layout_doc
block setting
    -var mainActive = 'docs';
    -var slideActive = 'docs';
    - title = "3Forcom"

block content 
    .container
        .content(class="pt-5 pb-5 mt-5 mb-5 text-center") 3Forcom.Com