.s-bannerHome {
    min-height: rem(800);
    background: url($img-pathOrigin+'slider.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    @include media-breakpoint-down(lg) {
        min-height: rem(700);
    }
    &-title_box {
        text-align: center;
    }
    &-content {
        &_wrap {
            h2 {
                font-size: rem(52);
                font-weight: 300;
                color: #fff;
                @include media-breakpoint-up(xl) {
                    font-size: rem(72);
                }
                @include media-breakpoint-down(sm) {
                    font-size: rem(40);
                }
            }
            h5 {
                margin: 24px 0;
                font-size: rem(28);
                font-weight: 400;
                color: #909090;
                @include media-breakpoint-down(sm) {
                    font-size: rem(22);
                }
            }
        }
    }
}
.gallery-banner {
    .gallery-section {
        .img-bg {
            position: relative;
            transition: 0.4s ease;
            &::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                background-color: rgba(0, 0, 0, 0.3);
                transition: 0.4s ease;
                transform: scale(0);
            }
        }
        .grid-gallery {
            // @include media-breakpoint-down(sm) {
            //     height: 100% !important;
            // }
            .grid-sizer,
            .grid-item {
                width: 25%;
                border: none;
                &.size-vertical {
                    width: 50%;
                    // @include media-breakpoint-down(sm) {
                    //     width: 100%;
                    // }
                    .img-bg::after {
                        padding-top: 60.15%;
                    }
                }
                &.size-horizontal {
                    width: 25%;
                    @include media-breakpoint-down(sm) {
                        // width: 100%;
                        .img-bg::after {
                            padding-top: 60.15%;
                        }
                    }
                    .img-bg::after {
                        padding-top: 291/484 * 100%;
                    }
                }
            }
            .grid-item {
                display: inline-block;
                overflow: hidden;
                transition: transform 0.4s ease, box-shadow 0.4s ease;
                &:hover {
                    .img-bg {
                        transform: scale(1.12);
                        &::before {
                            transform: scale(1);
                        }
                    }
                }
                // @include media-breakpoint-down(sm) {
                //     position: unset !important;
                // }
                // &:not(:last-child) {
                //     pointer-events: none;
                // }
            }
        }
    }
}
