@mixin paddingSection() {
    padding: rem(90) 0;
    @include media-breakpoint-down(md) {
        padding: rem(35) 0;
    }
}
.s-section {
    &_main {
        @include paddingSection();
    }
    &_featured {
        @include paddingSection();
        overflow: hidden;
        background: #f3f4f7;
    }
    &_category {
        @include paddingSection();
    }
}
.p-fullscreen {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: '';
        background: rgba(0, 0, 0, 0.75);
    }
}
.mainPage {
    padding-top: 0 !important;
}
