@mixin paddingSection() {
    padding: rem(90) 0;
    @include media-breakpoint-down(md) {
        padding: rem(35) 0;
    }
}
.s-section {
    &_main {
        @include paddingSection();
    }
    &_featured {
        @include paddingSection();
        overflow: hidden;
        background: #f3f4f7;
    }
    &_category {
        @include paddingSection();
    }
}
