footer.bd-footer.text-muted
    .container-fluid.p-3.p-md-5
        ul.bd-footer-links
            li
                a(href='https://bitbucket.org/binhnguyenthien/3forcom-htmlstandard', target='_blank') Bitbucket
            li
                a(href='https://www.3forcom.com/', target='_blank') 3Forcom Website
        p © Copyright 2018 3Forcom - 854 Su Van Hanh Street, Ward 13, District 10, Ho Chi Minh City (Vietnam)
        p
            | Bootstrap Currently v4.1.1. 
// End Footer