header.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.bd-navbar.bg-dark
        a.navbar-brand(href=url)
            img(src=logo alt="" height="35")

        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon

        div(class="collapse navbar-collapse" id="navbarNavDropdown")
            +menuNav(mainActive,mainMenu, '', '', 'navbar-nav justify-content-end', '' ,'nav-item', 'nav-link')
            
        a.btn.btn-bd-download.d-none.d-lg-inline-block.mb-3.mb-md-0.ml-md-3(href='https://bitbucket.org/binhnguyenthien/3forcom-htmlstandard') Bitbucket
// End Header
|
|