extends layouts/_layout_default


block setting
    - title = "Reset Password"
    - noFooter = true
    - noHeader = true
    - mainClass = 'mainPage'

block content 
    section.p-fullscreen(style='background-image:url("/images/travel.png")')
        .container
            .form-content.form-content-floating.wow.fadeIn
                form(action="#").form.form-validate#frmForgetPassword
                    .form_title Reset your password
                    p Just enter your email address, and we will send you a link to reset your password.
                    .form-list
                        input(type="email" name='email' placeholder="Email" required)
                    .group-btn
                        button(type='submit').btn-custom Continue
                    p.tip.signup-tip
                        a(href='/') Back to Home

block modal
    +modalSuccessSent
block js
    script. 
        $('#frmForgetPassword').on('submit',(e)=>{
            e.preventDefault();
            const $form = $(e.currentTarget);
            if (!$form.valid()) return;
            $('#modalSuccessSent').modal('show');
        });
        $('#modalSuccessSent').on('hidden.bs.modal', ()=>{
            window.location.href='/'
        });
