extends layouts/_layout_default


block setting
    - title = "3Forcom"
    - ishomepage = true 

block content 
    include sections/_bannerHome
    include sections/_mainBlock
    include sections/_featured
    include sections/_category