extends layouts/_layout_default


block setting
    - title = "3Forcom"
    - ishomepage = true 

block content 
    .container.bd-masthead
        .row.align-items-center
            .col-6.mx-auto.col-md-6.order-md-2
                img.img-fluid.mb-3.mb-md-0(src= imgPath + 'bootstrap-stack.png', alt='', width='1024', height='860')
            .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
                h1.mb-3.bd-text-purple-bright 3Forcom HTML
                p.lead
                    | Build responsive, mobile-first projects on the web with the world's most popular front-end component library.
                p.lead.mb-4
                    | Follow Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
                .d-flex.flex-column.flex-md-row.lead.mb-3
                    a.btn.btn-lg.btn-outline-success.mb-3.mb-md-0.mr-md-3(href='/docs/') Get started
                    a.btn.btn-lg.btn-outline-info(href='https://bitbucket.org/binhnguyenthien/3forcom-htmlstandard', target="_blank") Bitbucket
