section.s-bannerHome.d-flex.align-items-center
    .container
        .d-flex.justify-content-center
            .s-bannerHome-title_box
                .s-bannerHome-content_wrap
                    h2 Discover great places in Viet Nam
                    h5 Let's uncover the best places to eat, drink, and shop nearest to you.
        .d-flex.justify-content-center
            form(action="#").form-wrap.mt-4
                .btn-group(role='group' aria-label='Basic example')
                    input.form-control(type='text' placeholder='What are your looking for?')
                    button.btn-form(type='submit')
                        span.icon-magnifier.search-icon
                        | SEARCH
                        i.pe-7s-angle-right