extends ../../layouts/_layout_doc 
block setting
    -var mainActive = 'docs';
    -var slideActive = 'screenreaders';
    - title = "Utilities - Screenreaders"
block navsection

block content 
    h1.bd-title#content Screenreaders
    p.bd-lead Use screenreader utilities to hide elements on all devices except screen readers.

    p
        | Hide an element to all devices 
        strong except screen readers
        |  with 
        code.highlighter-rouge .sr-only
        | . Combine 
        code.highlighter-rouge .sr-only
        |  with 
        code.highlighter-rouge .sr-only-focusable
        |  to show the element again when it’s focused (e.g. by a keyboard-only user). Can also be used as mixins.
    .bd-example
        a.sr-only.sr-only-focusable(href='#content') Skip to main content
    figure.highlight
        pre
            code.css
                | a.sr-only.sr-only-focusable(href='#content') Skip to main content
    figure.highlight
        pre
            code.scss
                | // Usage as a mixin
                | .skip-navigation {
                |     @include sr-only;
                |     @include sr-only-focusable;
                | }
